@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "H5支付";
}

<h2>H5支付</h2>
<p>商品名称：@ViewData["Name"]</p>
<a href="@ViewData["MWebUrl"]">点击购买</a>
