<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="D:\log\console-example-internal.log"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="D:\log\log-${shortdate}.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />

		<!-- 单位为字节 -->
		<!-- archiveAboveSize : 单个日志文件超过多少字节就把日志存档-->
		<!-- maxArchiveFiles : 指定数量个数的存档文件，旧的会被删掉-->
		<!-- maxArchiveDays : 保存若干天的日志存档-->
		<target xsi:type="File" name="sysServicesFile" maxArchiveFiles="5" archiveAboveSize="10000"
			  fileName="D:\log\sysServices-${shortdate}.log"
			  layout="${date}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />

		<target xsi:type="ColoredConsole" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<!--1、rules节点下可以添加多个logger，每个logger都有名字（name属性），name是通配符格式的。
		2、logger节点的minlevel属性和maxlevel属性，表示这个logger接受日志的最低级别和最高级别。
		3、日志输出时，会从上往下匹配rules节点下所有的logger，若发现当前日志的分类名符合这个logger的name的通配符，就会把日志输出给这个logger。
			如果匹配多个logger，就把这条日志输出给多个logger。但是如果一个logger设置了final="true"，那么如果匹配到这个logger，就不继续向下匹配其他logger了。
	-->
	<rules>
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="logconsole" />
		<logger name="SystemServices.*" minlevel="Trace" writeTo="sysServicesFile" final="true" />
		<logger name="*" minlevel="Warn" writeTo="logfile" />
	</rules>
</nlog>
