@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "JSSDK测试页面";
    Layout = "/Views/Shared/_JSSDKLayout.cshtml";
}

<h1>公众号JSSDK演示</h1>
<h2>用户名：@ViewData["UserName"]</h2>
<div>
    此页面是Senparc.Weixin.MP JSSDK的演示，可以点击右上方按钮，转发到朋友圈或者朋友进行测试。<br />
    顺利的话，转发的内容可以看到自定义的标题，配有一个自定义图片。
</div>
<button id="scanButton">点击扫一扫</button>
<div id="scanResult"></div>