@model 微信支付.Models.ViewData.TenPayV3_Index
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>产品列表</h2>
<h4>@(Model.Msg ?? "暂无")</h4>
<ul>
    @foreach (var item in Model.ProductList)
    {
        <li>
            @Html.ActionLink($"{item.Key}，价格：{item.Value}", "Order", new { name = item })
        </li>
    }
</ul>