<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn1" connectionString="Server=192.168.1.1;Uid=sa;Pwd=123456" providerName="MySql"/>
    <add name="conn2" connectionString="Server=192.168.2.2;Uid=zzx;Pwd=qwe`123" providerName="SqlServer"/>
  </connectionStrings>

  <appSettings>
    <add key="name" value="yzk"/>
    <add key="age" value="18"/>
    <add key="proxy,address" value="192.168.10.10"/>
    <add key="proxy:port" value="8888"/>
    <add key="proxy:ids:0" value="5"/>
    <add key="proxy:ids:1" value="3"/>
  </appSettings>
</configuration>