<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
	<!-- Local 开始 -->
	<SenparcConfig>
		<Id>1</Id>
		<Name>Local-SqlServer</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull><![CDATA[Server=192.168.0.136;Database=NCF_UnitTest; User ID=sa; Password=2wsx@WSX;App=EntityFramework]]></ConnectionStringFull>
		<!--<ConnectionStringFull><![CDATA[Server=.\;Database=NCF; initial catalog=NCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>-->
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<!-- Local 结束 -->
</SenparcConfigs>